name: Flake check
run-name: Flake check for ${{ github.ref_name }} by ${{ github.actor }}
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  check:
    timeout-minutes: 32
    name: Check flake on ${{ matrix.system }}
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - system: x86_64-linux
            runner: ubuntu-latest
          - system: aarch64-linux
            runner: ubuntu-24.04-arm
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Set up Nix
        uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
      - name: Set up Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: heitor
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Run flake check
        run: nix flake check --accept-flake-config
